body {
    background-color: lightblue;
}

h1 {
    color: navy;
}
p {
    background-color: yellow;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 60%;
    box-shadow: 10px 20px 20px #6000ff;
}
#header {
	margin-top 5px;
    padding: 5px 0px 0px 0px;
    margin-left: 50%;
}
#footer {
	 padding: 100px;
}
