body {
    background: #e6d05E;
    margin: 0px;
}

h1 {
    color: #D8ffff;
}
.SecondSubsectionBKG {
    background-color: #df8532;
    box-shadow: 10px 20px 20px #CEAE21;
    font: 25px sans-serif;
    font-family: Verdana, sans-serif;
    padding: 0px;
    margin: 0px -8px 0px -8px;
}
.SecondSubsectionTxt {
    padding: 4px;
    margin: 0px 33% 0px 33%;
}
#square{
    width: 100%;
    height: 100px;
    padding: 0px;
    background: #ce5800;
    
}


#header {
    background: -moz-linear-gradient(top, #0090ff, #facdbf);
    background: -webkit-linear-gradient(top, #0090ff, #facdbf);
    background: -o-linear-gradient(top, #0090ff, #facdbf);
    border: 5px solid;
}
ul{
    display: block;
}
li{
    display: inline;
    border: 4px solid #ee0000;
    padding: 0px 80px;
}

#footer {
    margin-bottom: 3px;
    position: absolute;
    left: 50%;
    top: 92%;
    
}
