body {
    background: #e6d05E;
    margin: 0;
    background-image: url("gradient.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

body h1 {
    text-align: center;
    font-variant: small-caps;
    padding: 50px;
}

header {
    background: #87e0fd; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    padding: 10px 15px 0px;
}

header h1 {
    margin: 0px;
    display: inline;
    cursor: default;
}

nav ul {
    display: inline;
    padding: 0px 0px 0px 15px;
    margin: 0;
}

nav ul li {
    color: white;
    list-style-type: none;
    display: inline-block;
}
nav ul li a:hover {
    background: #123456;
    background: linear-gradient(#293f50, #489389);
}

nav ul li a {
    color: white;
    background: #395870;
    background: linear-gradient(#489389, #293f50);
    padding: 4px 10px 4px 10px;
    border-radius: 8px;
    text-decoration: none;
}

.row:after {
    clear: both;
    content: "";
    display: table;
}

.col {
    color: red;
    background: #222;
    width: 31%;
    margin: 1%;
    height: 200px;
    border-radius: 5px;
    float: left;
    height: 500px;
}

footer {
    background: black;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
